* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #2e2e2e;
    font-family: "Lato", 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
    
}

section {
    padding: 80px 0;
}

/*-------------------------------HEADER------------------------------*/

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.12)), url(img/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height:100px;
    width:auto;
    float:left;
    margin-top: 20px;
}


/*------------------------ */

.main-nav {
    float:right;
    list-style: none;
    margin-top: 28px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px, 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0,3s;
}

.main-nav li a:hover,
.main-nav li a:active{
   border-bottom: 2px solid #009432; 
}

.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}

h1, 
h2,
h3 {
    font-size: 240%;
    font-weight: 400;
    text-transform: uppercase;
}

h1 {
        margin-top: 0;
        margin-bottom: 20px;
        color: #fff;
        word-spacing: 3px;
        letter-spacing: 1px;
}


h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;    
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after{
    display:block;
    height: 2px;
    background-color: #009432;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}


.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    
}

/*--------------------------------STICKY NAVIGATION---------------------*/
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #f8f8f8;
    z-index: 9999;
    padding-bottom: 20px;
}

.sticky .main-nav { margin-top: 15px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    padding: 16px 0;
    color: #555;
    font-size:90%;
    font-weight:400;}


/*----------------------BUTTONS-----------------------------*/

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0,3s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #009432;
    border: 1px solid  #009432;
    color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid  #009432;
     color: #009432;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #003f15;
}

#btn-main{
 margin-left: 130px;
}

.box {
    padding: 2%;
}

/*----------------------------ICONS----------------------------*/

.icon-big{
    font-size: 400%;
    display: block;
    color: #009432;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #009432;
    font-size: 120%;
    /*aligning text and icons: */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
}

/*---------------------------LINKS------------------------------*/


a:link,
a:visited {
    color: #009432;
    text-decoration: none;
    border-bottom: 1px solid #009432;
    padding: 1px;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #2e2e2e;
    border-bottom: 1px solid transparent;
}

/*---------------------------GALLERY--------------------------------*/
.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.gallery-showcase {
    list-style: none;
    width: 100%;
}

.gallery-showcase li {
    display: block;
    float: left;
    width: 25%;   
}

.hotel-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: black;
}

.hotel-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.hotel-photo img:hover {
    opacity: 1;
    transform:scale(1.03);
}

.section-gallery {
    padding: 0;
}

/*----------------------------OFFER------------------------------------------*/

.box {
    padding: 2%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

.section-offer {
    background-color: #efefef;
}

.room-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #f5f5f5;
}

.room-box div {
    padding: 15px;
    border-bottom: 1px solid #f0f0f0;
}

.room-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009432; 
}

.room-price-2 {
    font-size: 80%;
}

.room-box ul {
    list-style: none;
}

.room-box ul li {
    padding: 5px 0;
}

.room-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.room-box div:last-child {
    text-align: center;
    border:0;
}

.btn-room {
    width: 65%;
    margin-bottom: 10px;
}

/*-------------------------------------------------------------SLIDE IN SECTIONS----------------------------------------------------------*/

.room-standard {
  background-image: url(img/standard.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: none;
}

.room-comfort {
  background-image: url(img/comfort.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: none;
}

.room-studio {
  background-image: url(img/studio.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: none;
}

/*--------------------------------------TESTIMONIALS----------------------------------------------------*/

.section-testimonials {
    background-image: linear-gradient(rgba(60, 60, 60, 0.69), rgba(77, 77, 77, 0.54)), url(img/background-test.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
    }

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
    margin-left: 30%
}

blockquote:before {
    content: "\201C";
    font-size: 400%;  
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

#p_block1 {
    margin-top: 15%;
}

#p_block2 {
    margin-top: 25%;
}

.customer-name {
        text-align: center;
        float: center;
        
    }

/*---------------------------------------------------------CONTACT-FORM--------------------------------------------*/

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
    resize: none;
}

textarea {
    height=100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

input[type=submit] {
    margin-top: 3%
}

*focus {outline: none;}


/*-------------------------------------------------GOOGLE MAP AND ADDRESS-----------------------------------------------------------------------------*/
.google-maps {
    background-image: url(img/background-address.jpg);
    background-attachment: fixed;
}


#map {
}

.address-h {
    padding-top: 30%;
    text-align: center;
    margin-bottom: 40px;
    font-size: 130%;
}

.address {
font-size: 130%;
font-weight: 300;
text-align:center;
word-spacing: 3px;
letter-spacing: 1px;
padding-top: 10%;
}

.address-container {
    background-color: #fcfcfc;
    padding-bottom: 35%
}

.address-h {
    border-bottom: 1px solid rgba(188, 188, 188, 0.74);
    padding-top: 20%;
    padding-bottom: 15%;
    background-color: #f2f2f2;
}

/*----------------------------------------------FOOTER-------------------------*/

footer {
    background-color: #333;
    padding: 20px;
}

.footer-nav {
    float:left;
}

.social-icons {
    list-style: none;
    float: right;
}

.social-icons li {
    display: inline-block;
    margin-right: 20px;
}

.social-icons li:last-child {
    margin: 0;
}

.social-icons li a:link,
.social-icons li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}


footer p {
    color: #888;
    text-align: center;
    font-size: 90%;
    margin-top: 5px;
}

.reception {
    margin-top:0px;
    font-size: 100%;
    line-height: 25px;
    
}

.social-icons li a:link,
.social-icons li a:visited {
    font-size: 180%;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #55acee;
}

.ion-social-instagram:hover {
    color: #e95950;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-instagram {
    transition: color 0.3s;
}

.icon-email {
    margin-right: 6px;
    margin-left: 15px;
}

/*------------------------------ABOUT US ANIMATIONS------------------------*/
#js--delicious-food {
    opacity: 0;
    animation-duration: 1s;
}

#js--delicious-food.animated,
#js--fast-internet.animated,
#js--active-leisure.animated,
#js--spa.animated
{
    opacity: 1;
}

#js--fast-internet {
    opacity: 0;
    animation-duration: 2s;
}


#js--active-leisure,
#js--spa {
    opacity: 0;
    animation-duration: 3s;
}



